$tamanos_main:(
    font_mobile: 0.8rem,
    encabezado_mobile: 1rem,
    title_mobile: 1.3rem,
    font_tablet: 0.9rem,
    encabezado_tablet: 1.2rem,
    title_tablet: 1.5rem,
    font_desktop: 1rem,
    encabezado_desktop: 1.3rem,
    title_desktop: 2rem
);

$sombra: 0px 0px 10px 3px rgba(0, 0, 0, 0.800);
$sombraCard: 0px 0px 10px 2px #8cb689e6;
$sombraGrande: 0px 0px 15px 10px rgba(0, 0, 0, 0.800);
$sombraTexto: 0px 0px 5px black;

$fondoMain: whitesmoke;
$fondoTituloCard: #a4c4a2e6 !important;
$verde:#6bab66eb;
$verdeOscuro: rgba(33, 52, 31, 0.99);

$fondoGradiente: linear-gradient(180deg, black 30%, $verdeOscuro 90%);

$esconder: none !important;
$mostrar: block !important;


main{
    grid-area: main;
    background-color: $fondoMain;
    margin: 30px 40px;
    padding-top: 20px;
    box-shadow: $sombraGrande;
    p{
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}
.main__titulo{
    font-weight: bolder;
    font-size: map-get($tamanos_main,title_desktop);
    text-align: center;
    padding: 5px 0px;
    margin-top: 5px;
}
.carousel__img--mobile{
    display: $esconder;
}
.carousel__leyenda{
    text-shadow: $sombraTexto;
}
.carousel__boton{
    background: $fondoGradiente;
    opacity: 80%;
    box-shadow: $sombra;
}
.section__text--center{
    padding: 25px 30px;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: map-get($tamanos_main,encabezado_desktop);
    font-weight: 300;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.section__cover__img{
    width: 100%;
    box-shadow: $sombra;
}
.section__titulo__card{
    background-color: $fondoTituloCard;
    box-shadow: $sombraCard;
    border: none !important;
}
.section__title{
    margin-left: 30px;
}
.section__text--article{
    padding: 15px 50px;
    font-size: map-get($tamanos_main,encabezado_desktop);
    text-align: center;
}
.section__article__foto{
    margin: 0px ;
    text-align: center;
    padding: 10px 20px;
}
.section__article__foto__img{
    width: 50%;
    box-shadow: $sombra;
    margin: 20px 0px;
}
.section__article__foto__img--mini{
    width: 90%;
    box-shadow: $sombra;
}
.section__text--leyenda{
    padding: 0px 50px;
    font-size: map-get($tamanos_main,encabezado_desktop);
    font-style: italic;
    text-align: center;
}
.section__text--subleyenda{
    padding: 0.5rem;
    text-align: center;
    font-size: map-get($tamanos_main,encabezado_desktop);
    font-weight: 400;
}
.section__tableGaleria{
    border: 0px;
    padding: 40px 40px;
    text-align: center;
}
.section__tableGaleria__img{
    width: 60%;
    box-shadow: $sombra;
    border: 4px double #111c10d6;
    border-radius: 10px;
    margin: 5px;
    transition: box-shadow 0.5s, width 0.5s;
}
.section__tableGaleria__img:hover{
    box-shadow: $sombraCard;
    width: 70%;
}
.carousel__mobile{
    display: $esconder;
}
.form__input--text{
    width: 70%;
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid $verde;
    &:focus{
        box-shadow: $sombraCard !important;
        outline: none;
    }
}
.form__input--radio{
    text-align: center;
    margin-top: -15px;
}
.form__input--radio--mini{
    display: $esconder;
}
.iframe_map{
    width: 100%;
    height: 500px;
    padding: 50px 0px;
    text-align: center;
    border: 0px;
}
.section__textarea{
    width: 90%;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid $verde;
    &:focus{
        box-shadow: $sombraCard !important;
        outline: none;
    }
}
.section__text--centernoflex{
    padding: 15px 30px;
    text-align: center;
    font-size: map-get($tamanos_main,font_desktop);
    letter-spacing: 0.5px;
}
.form__input--button{
    background: $fondoGradiente;
    color: $fondoMain;
    padding: 10px 20px;
    margin: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    transition: 0.4s color;
    &:hover{
        color: $verde;
    }
}
.main__subtitulo{
    font-weight: bolder;
    font-size: map-get($tamanos_main,encabezado_desktop);
    text-align: center;
    padding: 5px 0px;
    margin-top: 5px;
}


@media (min-width: 576px) and (max-width: 992px) {
    .main__titulo{
        font-size: map-get($tamanos_main,title_tablet);
    }
    .carousel__leyenda{
        font-size: map-get($tamanos_main,font_tablet);
    }
    .carousel__boton{
        font-size: map-get($tamanos_main,font_tablet);
        opacity: 80%;
    }
    .section__text--center{
        padding: 15px 30px;
        font-size: map-get($tamanos_main,encabezado_tablet);
    }
    .section__title{
        font-size: map-get($tamanos_main,title_tablet);
        margin-left: 10px;
    }
    .section__text--article{
        padding: 5px 15px;
        font-size: map-get($tamanos_main,encabezado_tablet);
        letter-spacing: 0.5px;
    }
    .section__article__foto__img{
        width: 70%;
    }
    .section__article__foto__img--mini{
        width: 85%;
    }
    .section__text--leyenda{
        font-size: map-get($tamanos_main,encabezado_tablet);
        line-height: 1.4rem;
    }
    .section__text--subleyenda{
        padding: 0rem !important;
        font-size: map-get($tamanos_main,encabezado_tablet);
    }
    .section__tableGaleria{
        padding: 20px 20px;
    }
    .section__tableGaleria__img{
        width: 80%;
        margin: 5px;
    }
    .form__input--text{
        width: 100%;
        margin-top: 10px;
    }
    .main__subtitulo{
        font-size: map-get($tamanos_main,encabezado_tablet);
    }
}

@media (max-width: 576px){
    main{
        margin: 40px 20px;
        z-index: 0;
    }
    .main__titulo{
        font-size: map-get($tamanos_main,title_mobile);
        margin-top: 2px;
    }
    .carousel__leyenda{
        display: $esconder;
    }
    .carousel__boton{
        font-size: map-get($tamanos_main,font_mobile) !important;
        margin-bottom: -1rem;
    }
    .carousel__img--cover{
        display: $esconder;
    }
    .carousel__img--mobile{
        display: $mostrar;
    }
    .section__text--center{
        padding: 20px 15px;
        font-size: map-get($tamanos_main,encabezado_mobile);
    }
    .section__title{
        font-size: map-get($tamanos_main,title_mobile);
        margin-left: 5px;
    }
    .section__text--article{
        padding: 5px 5px;
        font-size: map-get($tamanos_main,encabezado_mobile);
    }
    .section__article__foto{
        padding: 0px 10px;
    }
    .section__article__foto__img{
        width: 100%;
    }
    .section__article__foto__img--mini{
        width: 80%;
    }
    .section__text--leyenda{
        font-size: map-get($tamanos_main,encabezado_mobile);
        line-height: 1.3rem;
    }
    .section__text--subleyenda{
        font-size: map-get($tamanos_main,encabezado_mobile);
    }
    .section__tableGaleria{
        display: $esconder;
    }
    .section__tableGaleria__img{
        margin: 2px;
    }
    .carousel__mobile{
        display: $mostrar;
    }
    .form__input--radio{
        display: $esconder;
    }
    .form__input--radio--mini{
        display: $mostrar;
    }
    .section__textarea{ 
        width: 90%;
    }
    .main__subtitulo{
        font-size: map-get($tamanos_main,encabezado_mobile);
    }
}