@import "header";
@import "main";
@import "footer";

@mixin grid($columns,$rows,$areas) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-template-areas: $areaGrid;
}

$fuentePrincipal:'Barlow',sans-serif;
$colorFondoPrincipal: #132515;
$imgFondoPrincipal: url("../img/pattern.jpg");

$columnasGrid: repeat(3, 1fr);
$filasGrid: 100px 1fr 90px;
$filasGridMobile: 70px 1fr 90px;
$areaGrid:
"header header header"
"main main main"
"footer footer footer";


.bodySM{
    font-family: $fuentePrincipal;
    background-color: $colorFondoPrincipal;
    background-image: $imgFondoPrincipal;
    background-repeat: repeat;

    .contenedorBody{
        @include grid($columnasGrid,$filasGrid,$areaGrid);
        justify-items: stretch;
    }
}

.reset{
    padding: 0px !important;
    margin: 0px !important;
}

@media (max-width: 576px){
    .contenedorBody{
        grid-template-rows: $filasGridMobile !important;
    }
}

